{% extends "BlogAppBundle::index.html.twig" %}

{% block blog %}
    <div class="text-center">
        <h1>Projet Symfony 2</h1>
        <p>Par Jerent Steeve - IIM - WEB 2 - Promo 2018</p>
        <p>Github: <a href="https://github.com/SteeveJ/P2018_A2_GR2_Jerent_Steeve_SF2">P2018_A2_GR2_Jerent_Steeve_SF2</a></p>
        <p>TODO LIST :</p>
        <p><i class="fa fa-check-square-o"></i> When managing articles, use a WYSIWYG instead a textarea tag (+0.5pt)</p>
        <p><i class="fa fa-square-o"></i> Create a fully functional contact form page (+1pt)</p>
        <p><i class="fa fa-check-square-o"></i>  Deploy application on a server, paste the url in the email's content (+1.5pt)</p>

        <p>Le contenu de ce site à été tiré du site <a href="http://neko-san.fr/">Neko-San</a>.</p>
    </div>

{% endblock blog %}